<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>

<form th:method="post" th:object="${newUser}">
  <div>
    <label for="userName">User Name:</label>
    <input type="text" id="userName" th:field="*{userName}">
  </div>

    <div>
    <label>Password</label>
      <input type="text" id="password" th:field="*{password}">
    </div>

  <div>
    <button type="submit">Create user</button>
  </div>

</form>

</body>
</html>